{{> cabecera}}

	{{> navbar}}

	<div class="row">
		<div class="col-8">
			<h1>HOLA ESTA ES UNA PRUEBA</h1>
		</div>

		<div class="col-4">
			<img src="assets/img/nba_logo.png" class="img-thumbnail">
		</div>
	</div>

{{> pie_pagina}}